<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56804258-1', 'auto');
  ga('send', 'pageview');
</script>

<% if Vote.any? %>
  <div class="col-sm-4 center-block">
    <div class="panel panel-default">
      <div class="panel-heading" align="center">
        <h3 class="panel-title">Meal Types</h3>
      </div>
      <div class="panel-body" style="padding:0;">
        <table class="table" style="margin-bottom:0;">
          <thead>
            <tr>
              <th>Meal Option</th>
              <th style="text-align:right;" width="17%">Votes</th>
            </tr>
          </thead>
          <tbody>
            <% dinner_count = Meal.get_count_in_favor_of_dinner %>
            <% lunch_count = Meal.get_count_in_favor_of_lunch %>

            <% if lunch_count > dinner_count %>
              <tr>
                <td>Lunch</td>
                <td style="text-align:right;"><%= lunch_count %></td>
              </tr>
              <tr>
                <td>Dinner</td>
                <td style="text-align:right;"><%= dinner_count %></td>
              </tr>
            <% else %>
              <tr>
                <td>Dinner</td>
                <td style="text-align:right;"><%= dinner_count %></td>
              </tr>
              <tr>
                <td>Lunch</td>
                <td style="text-align:right;"><%= lunch_count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-4 center-block">
    <div class="panel panel-default">
      <div class="panel-heading" align="center">
        <h3 class="panel-title">Restaurants</h3>
      </div>
      <div class="panel-body" style="padding:0;">
        <table class="table table-bordered" style="margin-bottom:0;">
          <thead>
            <tr>
              <th style="text-align:center;" width="10%">Rank</th>
              <th>Restaurant</th>
              <th style="text-align:right;" width="17%">Points</th>
            </tr>
          </thead>
          <tbody>
            <% rank = 0 %>
            <% @votes.each do |v| %>
              <% @nomination = Nomination.find(v.nomination_id) %>
              <% @restaurant = Restaurant.find(@nomination.restaurant_id) %>
              <tr>
                <td style="text-align:center;"><%= rank += 1 %></td>
                <td style="text-decoration:underline;"><%= link_to @restaurant.name, @restaurant.url, target: '_blank' %></td>
                <td style="text-align:right;"><%= v.points %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <h4 style="text-align:center;">No one has voted.</h3>
<% end %>
