<%= form_tag("/submit", remote: true) do %>
  <div class="form-group">
    <div class="row row-offset">
      <div class="col-md-2 col-md-offset-3 col-sm-2">
        <label>Who's voting?</label>
        <%= text_field_tag 'member_identifier', 'Enter your ACID', class: 'form-control' %>
      </div>
      <div id="member_name" class="col-md-2 col-md-offset-1" style="margin-top:30px;">
        Jeremiah Stump
      </div>
    </div>
    <div class="row row-offset">
      <div class="col-md-3 col-md-offset-3 col-sm-3">
        Nominations
        <ul class="source connected">
          <% @restaurants.each do |r| %>
            <%= content_tag :li do %>
              <%= r.name %>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3">
        Selections
        <ul class="target connected" />
      </div>
    </div>
    <div class="row row-offset">
      <div class="col-md-2 col-md-offset-3 col-sm-2">
        <%= submit_tag 'Submit', id: 'submit_votes', class: 'btn btn-primary', tabindex: 3 %>
      </div>
    </div>
  </div>
<% end %>
