<%= form_tag("/submit", remote: true) do %>
  <div class="form-group">
    <div class="row row-offset">
      <div class="col-md-2 col-md-offset-3 col-sm-2">
        <h4 style="margin-bottom:0px;">Who's voting?</h4>
      </div>
    </div>
    <div class="row row-offset">
      <div class="col-md-2 col-md-offset-3 col-sm-2">
        <%= text_field_tag 'member_identifier', nil, placeholder: 'Enter your ACID', class: 'form-control' %>
      </div>
      <div class="col-md-2 col-md-offset-1 col-sm-2" id='member_name' style='margin-top:10px;'>

      </div>
    </div>
    <div class="row row-offset">
      <div class="col-md-3 col-md-offset-3 col-sm-3">
        <h5>Nominations</h5>
        <ul class="source connected">
          <li>
            <a href="http://www.google.com">Google</a>
          </li>
          <li>
            <%= content_tag :a, id: 'google_link', href: 'http://www.google.com', target: '_blank' do %>
              Google 2
            <% end %>
          </li>

          <% @restaurants.each do |r| %>
            <%= content_tag :li do %>
              <%= r.name %>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3">
        <h5>Selections</h5>
        <ul id="selections_list" class="target connected" />
      </div>
    </div>
    <div class="row row-offset">
      <div class="col-md-2 col-md-offset-3 col-sm-2">
        <%= submit_tag 'Submit', id: 'submit_votes', class: 'btn btn-primary', tabindex: 3 %>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'modal_informative' %>
