<form id="voting_form" action="/submit_votes">
  <div class="form-group">
    <div class="row row-offset">
      <div class="col-md-2 col-md-offset-3 col-sm-2">
        <h4 style="margin-bottom:0px;">Who's voting?</h4>
      </div>
    </div>
    <div class="row row-offset">
      <div class="col-md-2 col-md-offset-3 col-sm-2">
        <%= text_field :member, :identifier, placeholder: 'Enter your ACID', class: 'form-control', autofocus: true %>
        <%= hidden_field_tag :member_id %>
      </div>
      <div class="col-md-2 col-md-offset-1 col-sm-2" id='member_name' style='margin-top:10px;'></div>
    </div>
    <div class="row row-offset">
      <div class="col-md-3 col-md-offset-3 col-sm-3">
        <h5>Nominations</h5>
        <ul id="restaurant_nominations" class="source connected">
          <% Nomination.get_nominations.each do |n| %>
            <% @r = Restaurant.find(n.restaurant_id) %>
            <%= content_tag :li do %>
              <%= link_to @r.name, @r.url, target: '_blank', data: {'nomination-id' => "#{n.id}"} %>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3">
        <h5>Selections</h5>
        <ul id="restaurant_selections" class="target connected" />
      </div>
    </div>
    <div class="row row-offset">
      <div class="col-md-2 col-md-offset-3 col-sm-2">
        <%= submit_tag 'Submit', id: 'submit_votes', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</form>

<%= render partial: 'modal_informative' %>
<%= render partial: 'modal_member_already_voted' %>
