<h1>Listing nominations</h1>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nominations.each do |n| %>
      <tr>
        <td style="padding-right:2em;"><%= Restaurant.find(n.restaurant_id).name %></td>
        <td style="padding-right:2em;"><%= n.created_at.year %></td>
        <td><%= link_to 'Edit', edit_nomination_path(n) %>&nbsp;|&nbsp;</td>
        <td><%= link_to 'Destroy', n, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nomination', new_nomination_path %>
