<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @nomination.restaurant_id %>
</p>

<p>
  <strong>Year:</strong>
  <%= @nomination.year_id %>
</p>

<%= link_to 'Edit', edit_nomination_path(@nomination) %> |
<%= link_to 'New', new_nomination_path %>
<%= link_to 'Show Nominations', nominations_path %>
