<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= Restaurant.find(@nomination.restaurant_id).name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @nomination.created_at.year %>
</p>

<%= link_to 'Edit', edit_nomination_path(@nomination) %> |
<%= link_to 'New', new_nomination_path %> |
<%= link_to 'Show Nominations', nominations_path %>
