<!DOCTYPE html>
<html>
  <head>
    <title>E-Business Holiday Meal</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'http://www.infarmbureau.com/favicon.ico', rel: 'icon' %>
    <%= stylesheet_link_tag 'http://www.infarmbureau.com/favicon.ico', rel: 'shortcut icon' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans', rel: 'stylesheet', type: 'text/css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% if flash[:danger] %>
        <div class="alert-danger"><%= flash[:danger] %></div>
      <% end %>

      <% @cutoff_at = Cutoff.order('cutoff_at desc').first.cutoff_at %>
      <div style="display:none;" id="cutoff_at"><%= @cutoff_at %></div>

      <div class="row">
        <div class="col-sm-4 col-center">
          <h5 id="countdown_alert" align="center"></h5>
        </div>
      </div>
      
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
