<p id="notice"><%= notice %></p>

<p>
  <strong>Identifier:</strong>
  <%= @member.identifier %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @member.active %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'New', new_member_path %> |
<%= link_to 'Show Members', members_path %>
